-content_for :content do

  %h1 New Special Item

  - form_for @special_item do |f|

    .span-22
      %fieldset
        .span-22
          %h3.subsection Special Item Info
    
        .field-group.span-22
          = f.label :name, 'Name:', :class => 'span-22'
          .error-message= f.error_message_on :name
          = f.text_field :name, :class => 'span-10'
    
        .field-group.span-22
          = f.label :category, 'Category:', :class => 'span-22'
          .error-message= f.error_message_on :category
          = f.select :category_id, Category.all.collect {|cat| [cat.name, cat.id]}, :class => 'span-3'

        #subcategories-select.field-group.span-22
          = f.label :subcategory, 'Subcategory:', :class => 'span-22'
          .error-message= f.error_message_on :subcategory
          = f.select :subcategory_id, Subcategory.all.collect {|cat| [cat.name, cat.id]}, :id => 'subcategories-select', :class => 'span-3', :prompt => "Select Subcategory"

        .field-group.span-22
          = f.label :price, 'Price:', :class => 'span-22'
          .error-message= f.error_message_on :price
          = f.text_field :price, :class => 'span-5'


    .span-22
      .submit= submit_tag "Create Special Item", :class => 'span-5 large button'


-content_for :javascript do
  CucumberExamples.specialItemsPage.setupComboBoxes();